/*
  DIAGNOSTIC STYLING
*/
body {
  background: gray;
}

* {
  outline: 1px dotted black;
}

/* tabslab */
#tab-1 {
  background-color: blue;
}

#tab-2 {
  background-color: green;
}

#tab-3 {
  background-color: red;
}